
    {% render 'gp-head', 'isThemeSection: true' %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-601126241822573420.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-601126241822573420.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-601126241822573420.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-601126241822573420.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-601126241822573420.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-601126241822573420.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-601126241822573420.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-601126241822573420.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-601126241822573420.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-601126241822573420.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-601126241822573420.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-601126241822573420.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-601126241822573420.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-601126241822573420.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-601126241822573420.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-601126241822573420.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-601126241822573420.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-601126241822573420.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-601126241822573420.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-601126241822573420.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-601126241822573420.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-601126241822573420.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-601126241822573420.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-601126241822573420.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-601126241822573420.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-601126241822573420.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-601126241822573420.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-601126241822573420.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-601126241822573420.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-601126241822573420.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-601126241822573420.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-601126241822573420.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-601126241822573420.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-601126241822573420.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-601126241822573420.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-601126241822573420.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-601126241822573420.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-601126241822573420.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-601126241822573420.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-601126241822573420.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-601126241822573420.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-601126241822573420.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-601126241822573420.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-601126241822573420.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-601126241822573420.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-601126241822573420.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-601126241822573420.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-601126241822573420.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-601126241822573420.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-601126241822573420.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-601126241822573420.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-601126241822573420.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-601126241822573420.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-601126241822573420.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-601126241822573420.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-601126241822573420.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-601126241822573420.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-601126241822573420.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-601126241822573420.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-601126241822573420.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-601126241822573420.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-601126241822573420.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-601126241822573420.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-601126241822573420.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-601126241822573420.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-601126241822573420.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-601126241822573420.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-601126241822573420.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-601126241822573420.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-601126241822573420.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-601126241822573420.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-601126241822573420.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-601126241822573420.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-601126241822573420.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-601126241822573420.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-601126241822573420.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-601126241822573420.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-601126241822573420.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-601126241822573420.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-601126241822573420.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-601126241822573420.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-601126241822573420.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-601126241822573420.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-601126241822573420.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-601126241822573420.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-601126241822573420.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-601126241822573420.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-601126241822573420.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-601126241822573420.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-601126241822573420.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-601126241822573420.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-601126241822573420 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-601126241822573420 .gp-relative{position:relative}.gps-601126241822573420 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-601126241822573420 .gp-mb-0{margin-bottom:0}.gps-601126241822573420 .gp-flex{display:flex}.gps-601126241822573420 .gp-inline-flex{display:inline-flex}.gps-601126241822573420 .gp-grid{display:grid}.gps-601126241822573420 .\!gp-hidden{display:none!important}.gps-601126241822573420 .gp-hidden{display:none}.gps-601126241822573420 .gp-h-full{height:100%}.gps-601126241822573420 .gp-w-full{width:100%}.gps-601126241822573420 .\!gp-max-w-none{max-width:none!important}.gps-601126241822573420 .gp-max-w-full{max-width:100%}.gps-601126241822573420 .gp-shrink-0{flex-shrink:0}.gps-601126241822573420 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-601126241822573420 .gp-flex-col{flex-direction:column}.gps-601126241822573420 .gp-items-center{align-items:center}.gps-601126241822573420 .gp-justify-center{justify-content:center}.gps-601126241822573420 .gp-overflow-hidden{overflow:hidden}.gps-601126241822573420 .gp-break-words{overflow-wrap:break-word}.gps-601126241822573420 .gp-border{border-width:1px}.gps-601126241822573420 .gp-border-transparent{border-color:transparent}.gps-601126241822573420 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-601126241822573420 .gp-text-left{text-align:left}.gps-601126241822573420 .gp-text-center{text-align:center}.gps-601126241822573420 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-601126241822573420 .gp-no-underline{text-decoration-line:none}.gps-601126241822573420 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-601126241822573420 .gp-duration-200{transition-duration:.2s}.gps-601126241822573420 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-601126241822573420 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-601126241822573420 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-601126241822573420 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-601126241822573420 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-601126241822573420 .tablet\:\!gp-hidden{display:none!important}.gps-601126241822573420 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-601126241822573420 .mobile\:\!gp-hidden{display:none!important}.gps-601126241822573420 .mobile\:gp-hidden{display:none}}.gps-601126241822573420 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-601126241822573420 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-601126241822573420 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-601126241822573420 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-601126241822573420 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-601126241822573420 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-601126241822573420 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-601126241822573420 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-601126241822573420 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-601126241822573420 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-601126241822573420 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gtSUdItmye"}' data-id="gtSUdItmye" id="gtSUdItmye" data-same-height-subgrid-container class="gtSUdItmye gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gccs19xe6i gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx8r4pcRTR"
        class="gx8r4pcRTR"
        style="--ta:left;--mb:11px;--mb-tablet:11px;--mb-mobile:11px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-fonntscom-Obvia_Black, 'fonntscom-Obvia_Black'), var(--g-font-heading, heading);--size:37px;--size-tablet:46px;--size-mobile:31px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx8r4pcRTR_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"ggTt_b6gzX"}' data-id="ggTt_b6gzX" id="ggTt_b6gzX" data-same-height-subgrid-container class="ggTt_b6gzX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mr:auto;--pl:80px;--pr:80px;--mb-tablet:0px;--mr-tablet:auto;--pl-tablet:80px;--pr-tablet:80px;--mb-mobile:7px;--mr-mobile:auto;--pl-mobile:24px;--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, 3fr) minmax(0, 9fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 9fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdttcd-4lj gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gyBTpHzA5X" class="gyBTpHzA5X !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--mr:55px;--pr:0px;--mr-tablet:55px;--pr-tablet:0px;--mr-mobile:24px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bblr:14px;--bbrr:14px;--btlr:14px;--btrr:14px;--op:100%;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gyBTpHzA5X" title="Video" preload="metadata" data-src="https://undrdog.com/cdn/shop/videos/c/vp/ff9efd2a26ab41abbf4e91ac1d592fff/ff9efd2a26ab41abbf4e91ac1d592fff.HD-1080p-3.3Mbps-51345620.mp4?v=0" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gowFs3i78S gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXAwPGzh_L"
        class="gXAwPGzh_L"
        style="--ta:left;--mb:3px;--mb-tablet:3px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-NimbusSanL-Reg, 'NimbusSanL-Reg'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXAwPGzh_L_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper  class="gwq55xu6bz ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gwq55xu6bz"
      data-id="gwq55xu6bz"
      style="--mb-mobile:6px;--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--jc:left"
      className="gwq55xu6bz"
      gp-data='{"position":{"desktop":"center","tablet":"center","mobile":"center"},"iconWidth":{"desktop":24}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:4px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gwq55xu6bz"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EC6129;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-NimbusSanL-Reg, 'NimbusSanL-Reg'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwq55xu6bz_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gwq55xu6bz"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EC6129;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-NimbusSanL-Reg, 'NimbusSanL-Reg'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwq55xu6bz_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gwq55xu6bz"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#EC6129;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg data-name="check-circle-filled" height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-NimbusSanL-Reg, 'NimbusSanL-Reg'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwq55xu6bz_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gS2aPy9ci7"
        class="gS2aPy9ci7"
        style="--ta:left;--mb:11px;--mb-tablet:11px;--mb-mobile:11px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-fonntscom-Obvia_Black, 'fonntscom-Obvia_Black'), var(--g-font-heading, heading);--size:32px;--size-tablet:46px;--size-mobile:27px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS2aPy9ci7_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd6ukn5vmH"
        class="gd6ukn5vmH"
        style="--ta:left;--mb:7px;--mb-tablet:7px;--mb-mobile:7px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:15px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd6ukn5vmH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"/products/t-shirt-respirant","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mb:9px;--mb-tablet:9px;--mb-mobile:9px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="g2-CfmIk5O"].gp-button-base::before, [data-id="g2-CfmIk5O-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g2-CfmIk5O"]:hover::before, [data-id="g2-CfmIk5O-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g2-CfmIk5O" dataId="g2-CfmIk5O" data-state="idle" aria-label="<p>PROFITER DE L&#039;OFFRE !</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/t-shirt-respirant" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--bg:#EC6129;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-fonntscom-Obvia_Black, 'fonntscom-Obvia_Black'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="g2-CfmIk5O gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-fonntscom-Obvia_Black, 'fonntscom-Obvia_Black'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg2-CfmIk5O_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "indispensable" }],
    "name": "indispensable",
    "tag": "section",
    "class": "gps-601126241822573420 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/hdu5vd-rc/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=601126241822573420)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggx8r4pcRTR_text","label":"ggx8r4pcRTR_text","default":"Voici pourquoi c’est indispensable"},{"type":"html","id":"ggXAwPGzh_L_text","label":"ggXAwPGzh_L_text","default":"<p><span style=\"font-size:14px;\">Vous pensiez que vos t-shirts étaient corrects… jusqu’à ce que vous enfiliez celui-ci. <strong>Et là, vous vous demandez soudain :</strong></span></p>"},{"type":"html","id":"ggwq55xu6bz_childItem_0","label":"ggwq55xu6bz_childItem_0","default":"<p><span style=\"font-size:14px;\"><strong>« Pourquoi rien d’autre ne tombe aussi bien ? »</strong></span></p>"},{"type":"html","id":"ggwq55xu6bz_childItem_1","label":"ggwq55xu6bz_childItem_1","default":"<p><strong>« Pourquoi mes autres t-shirts sentent le renfermé après une seule fois portée ? »</strong></p>"},{"type":"html","id":"ggwq55xu6bz_childItem_2","label":"ggwq55xu6bz_childItem_2","default":"<p><strong>« Attends… mes bras ont vraiment l’air plus musclés ou c’est juste la coupe ? »</strong></p>"},{"type":"html","id":"ggS2aPy9ci7_text","label":"ggS2aPy9ci7_text","default":"<span style=\"color:#ED6129;\"><strong>Spoiler :</strong></span><strong> c’est la coupe.</strong>"},{"type":"html","id":"ggd6ukn5vmH_text","label":"ggd6ukn5vmH_text","default":"<p>Ce t-shirt fait plus pour votre confiance en&nbsp;</p><p>vous que votre poudre de protéines.</p>"},{"type":"html","id":"gg2-CfmIk5O_label","label":"gg2-CfmIk5O_label","default":"<p>PROFITER DE L'OFFRE !</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}